h1 {
  color: darkmagenta;
  text-align: right;
}
h2 {
  color: mediumorchid;
  font-style: oblique;
  text-align: center;
}
h3 {
    color: pink;
    font-style: oblique;
}

p {
  font-family: Times;
  color: black;
}
ul {
  line-height: 19px;
}
ol {
  line-height: 19px;
}
.intro {
  font-style: italic;
}
.important {
  color: lightslategray;
}
